.code {
    position: relative;
}
.getCode {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.content {
    position: absolute;
    top: 44px;
    width: 100%;
    font-size: 14px;
}
.content input {
    font-size: 14px;
}